div.menupicture {
  width: 400px; /* width of your image */
  height: 150px; /* height of your image */
  background-image: url('../../Pictures/menu.jpeg');
  background-size: cover;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


 div.billpicture {
    width:400px; /*width of your image*/
    height:150px; /*height of your image*/
    background-image:url('../../Pictures/bill.jpeg');
    background-size: cover;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
 }

 div.valetpicture {
    width:400px; /*width of your image*/
    height:150px; /*height of your image*/
    background-image:url('../../Pictures/valet.jpeg');
    background-position: center top 10%;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
 }

 div.feedbackpicture {
    width:400px; /*width of your image*/
    height:150px; /*height of your image*/
    background-image:url('../../Pictures/feedback.jpeg');
    background-size: cover;
    background-position: center top 40%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
 }

 h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 900;
  }

  @keyframes blink {
   0% {
     opacity: 1;
   }
   50% {
     opacity: 0.5;
   }
   100% {
     opacity: 1;
   }
 }
 
   .BlinkButton {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
      width: 60px;
      height: 60px;
      padding: 0;
      font-size: 14px;
    }
 
 .BlinkButton.clicked {
   animation: blink 1s ease-in-out infinite;
 }
 
 .rounded-circle {
   border-radius: 100%;
 }
  
  
  

 