div.floorplan {
    width: 680px;
    height: 425px;
    background-image: url('../../Pictures/floorplan.jpeg');
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}