div.insights {
    width:400px; /*width of your image*/
    height:150px; /*height of your image*/
    background-image:url('../../Pictures/Insights.jpeg');
    background-size: cover;
    background-position: center bottom;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
 }

 div.stocks {
    width:400px; /*width of your image*/
    height:150px; /*height of your image*/
    background-image:url('../../Pictures/Stock.jpeg');
    background-size: cover;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
 }

 div.editmenu {
   width:400px; /*width of your image*/
   height:150px; /*height of your image*/
   background-image:url('../../Pictures/editmenu.jpeg');
   background-size: cover;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden
}

div.employees {
   width:400px; /*width of your image*/
   height:150px; /*height of your image*/
   background-image:url('../../Pictures/employees.jpeg');
   background-size: cover;
   background-position: center bottom 60%;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden
}