div.insights {
    width:400px; /*width of your image*/
    height:150px; /*height of your image*/
    background-image:url('../../Pictures/Insights.jpeg');
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
 }

 div.stocks {
    width:400px; /*width of your image*/
    height:150px; /*height of your image*/
    background-image:url('../../Pictures/Stock.jpeg');
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
 }